In [11]:
# Import dependencies
import pandas as pd
import gmaps
import requests
from config import g_key
%matplotlib inline

In [12]:
# Store csv to Dataframe
city_data_df = pd.read_csv('Resources/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-06 01:38:09,-23.1203,-134.9692,77.85,71,32,13.00
1,1,Touros,BR,2021-04-06 01:36:04,-5.1989,-35.4608,75.20,94,20,3.44
2,2,Longyearbyen,SJ,2021-04-06 01:38:09,78.2186,15.6401,12.20,62,40,20.71
3,3,Komsomolskiy,UZ,2021-04-06 01:38:10,40.4272,71.7189,42.80,87,64,4.61
4,4,Mataura,NZ,2021-04-06 01:38:10,-46.1927,168.8643,64.99,57,32,13.00

In [13]:
# Get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [17]:
# Create heatmap for max temp
# Get locations to array of lat and long pairs
locations = city_data_df[['Lat', 'Lng']]
# Get max temp
max_temp = city_data_df['Max Temp']
# Assign figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add heatmap layer
fig.add_layer(heat_layer)
# Call figure to plot data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create heatmap for % humidity
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df.Humidity
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create heatmap for cloudiness
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df.Cloudiness
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=1.5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Create heatmap for wind speed
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=1.5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask customer min and max temp values
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter data for criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-04-06 01:38:09,-23.1203,-134.9692,77.85,71,32,13.00
1,1,Touros,BR,2021-04-06 01:36:04,-5.1989,-35.4608,75.20,94,20,3.44
5,5,Davila,PH,2021-04-06 01:38:10,18.4726,120.5763,86.00,58,20,5.75
6,6,Mahebourg,MU,2021-04-06 01:38:11,-20.4081,57.7000,75.20,88,75,3.44
7,7,Vanimo,PG,2021-04-06 01:38:11,-2.6741,141.3028,80.38,88,100,4.05
9,9,Carnarvon,AU,2021-04-06 01:38:12,-24.8667,113.6333,80.60,57,50,14.97
11,11,Bambous Virieux,MU,2021-04-06 01:38:13,-20.3428,57.7575,79.00,88,75,3.44
23,23,Georgetown,MY,2021-04-06 01:38:17,5.4112,100.3354,84.20,83,20,3.44
25,25,Sao Filipe,CV,2021-04-06 01:38:18,14.8961,-24.4956,75.49,63,5,10.96
29,29,Kavieng,PG,2021-04-06 01:38:20,-2.5744,150.7967,84.63,68,84,3.58

In [26]:
preferred_cities_df.count()

City_ID       165
City          165
Country       165
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [27]:
# Create DF to store hotel names from preferred DF
hotel_df = preferred_cities_df[['City', 'Country','Max Temp', 'Lat', 'Lng']]
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

C:\Users\bweir\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

               City Country  Max Temp      Lat       Lng Hotel Name
0           Rikitea      PF     77.85 -23.1203 -134.9692
1            Touros      BR     75.20  -5.1989  -35.4608
5            Davila      PH     86.00  18.4726  120.5763
6         Mahebourg      MU     75.20 -20.4081   57.7000
7            Vanimo      PG     80.38  -2.6741  141.3028
9         Carnarvon      AU     80.60 -24.8667  113.6333
11  Bambous Virieux      MU     79.00 -20.3428   57.7575
23       Georgetown      MY     84.20   5.4112  100.3354
25       Sao Filipe      CV     75.49  14.8961  -24.4956
29          Kavieng      PG     84.63  -2.5744  150.7967

In [28]:
# Set parameters to search for hotel
params = {'radius': 5000,
          'type': 'lodging',
          'key': g_key}

In [30]:
# Iterate through DF
for index, row in hotel_df.iterrows():
    # Get lat and long
    lat = row['Lat']
    lng = row['Lng']
    
    # Add lat and long to location key for params 
    params['location'] = f'{lat},{lng}'
    
    # Use search term: 'lodging' and lat and long
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make request and get JSON
    hotels = requests.get(base_url, params=params).json()
    # Grab 1st hotel from results
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,77.85,-23.1203,-134.9692,Pension Maro'i
1,Touros,BR,75.20,-5.1989,-35.4608,INN NEW HORIZON
5,Davila,PH,86.00,18.4726,120.5763,Blue Ridge Beach Resort
6,Mahebourg,MU,75.20,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Vanimo,PG,80.38,-2.6741,141.3028,Vahmoneh Lodge Vanimo

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add heatmap of tempature for vacation spot
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))